* {
    margin: 0;
}

body {
    background: url(../image/432-800x600.jpg) center no-repeat;
    background-size: cover;
}

header{
  /* float: right; */
    background-color: rgba(128, 128, 128, 0.487);
    text-align: right;
    padding: 10px;
}

header nav a {
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: white;


}