/* * {
    margin: 0;
    padding: 0;

} */

section {
  background-image: url("../img/photo-1460602594182-8568137446ce.avif");
  background-size: contain;
  background-position: center;
  color: white;
  text-align: center;
}

article {
    background-image: url("../img/photo-1603398749947-87246022fbf9.avif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
