* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
  width: 500px;
  /* display: inline-block; */
  margin: 30px auto 0 auto;
}

span {
  color: red;
}

input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.294);
  margin-bottom: 10px;
}

label,
textarea {
  display: block;
}

#name::placeholder {
  padding-left: 10px;
}

#name {
  width: 49%;
}

#email,
#select,
#nachricht,
#submit {
  width: 100%;
}

input,
#select,
#submit {
  height: 30px;
}

#submit {
  background-color: rgb(95, 151, 171);
  border: 0;
  color: white;
}

#submit:hover {
  background-color: rgb(0, 72, 99);
}

label {
    margin: 3px;
}
