/* Basic */

@font-face {
  font-family: raleway;
  src: url("../font/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  width: 200px;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(140, 151, 158, 1);
  width: 70%;
  text-align: center;
}

/* ! Header */
/* navbar */

nav {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

nav a {
  color: rgba(102, 102, 102, 1);
}

nav ul a:hover {
  color: rgb(131, 160, 190);
}

.logo {
  font-size: 24px;
  font-weight: 300;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 20px;
}

header {
  height: 100%;
  margin-bottom: 120px;
}

header section {
  width: 100%;
  height: 100vh;
  background-image: url("../img/we-change.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

.title {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.untertitle {
  text-align: center;
  width: 70%;
  font-size: 14px;
  padding: 20px 0 35px 0;
  color: rgba(255, 255, 255, 1);
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.read-more {
  background-color: rgba(116, 92, 249, 1);
  border: 2px solid rgba(116, 92, 249, 1);
  color: rgba(255, 255, 255, 1);
  padding: 15px 20px;
  font-size: 12px;
}

.read-more:hover {
  background-color:rgb(17, 40, 61);
  ;
  color: rgba(116, 92, 249, 1);
}

#download {
  border: 2px solid rgba(255, 255, 255, 1);
  padding: 15px;
  font-size: 12px;
}

#download:hover {
background-color: white;
color: black;
}

/* Explain secion */

.explain {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  /* align-items: stretch; */
  padding: 0 150px 0 150px;
  margin-bottom: 100px;
}

.explain img {
  width: 50%;
}

.article {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article p {
  text-align: left;
  width: 100%;
}

.explain2 {
  flex-direction: row-reverse;
}

/* parallax section */

.parallax {
  height: 440px;
  background-image: url("../img/wave.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 100px;
}

.options {
  /* height: 1000px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: rgba(14, 16, 21, 1);
  margin-bottom: 50px;
  gap: 20px;
}


.options img {
  width: 80%;
  margin-top: 30px;
}

/* Our Projects */

.our-projects {
  color: rgba(255, 255, 255, 1);
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.our-projects div {
  display: flex;
}

.our-projects img {
  width: 24.5vw;
  margin: 0;
}

/* !Footer */

.main-clients {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-clients div {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.do-you-like {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
}

.theme-by p {
  background-color: black;
  color: rgba(254, 254, 254, 1);
  width: 100%;
  text-align: left;
  padding: 90px 0 80px 180px;
}