@font-face {
  font-family: bold;
  src: url(../font/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../font/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: italic;
  src: url(../font/CormorantGaramond-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(233, 233, 224, 1);
}

figcaption {
  font-family: italic, Arial, Helvetica, sans-serif;
}

/* ! header */

h1 {
  /* font-family: bold; */
  font-size: 32px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

h1 span {
  font-size: 54px;
}

header div {
  background-color: rgba(51, 51, 51, 1);
  height: 5px;
}

header section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

body {
  display: grid;
  grid-template-columns: 4.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main aside";
  gap: 20px;
  padding: 0 50px;
  margin-bottom: 50px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title"
    "article1 article2 image"
    "article3 article4 image"
    "article5 article6 image";
  gap: 20px;
}

main h2 {
  font-family: bold;
  grid-area: title;
  font-size: 35px;
  text-align: center;
}

.article2 {
  grid-area: article2;
}

.article3 {
  grid-area: article3;
}

.article4 {
  grid-area: article4;
}

.article5 {
  grid-area: article5;
}

.article6 {
  grid-area: article6;
}

figure {
  grid-area: image;
}

main article h3 {
  font-family: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

main article p {
  line-height: 20px;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "visit"
    "your_add"
    "knives"
    "ikea";
  justify-items: center;
  align-items: center;
  gap: 20px;
}

aside h4 {
  grid-area: visit;
}

aside h5 {
  grid-area: your_add;
  font-size: 50px;
  text-align: center;
  font-family: bold;
}

aside h3 {
  font-family: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

aside article {
  grid-area: knives;
  text-align: center;
}

aside a {
  color: rgba(115, 123, 128, 1);
  text-decoration: underline;
}

aside img {
  grid-area: ikea;
}

.border {
  border: 4px double black;
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "article1 article2"
      "article3 article4"
      "article5 article6"
      "image image";
  }

  aside {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
    header section {
        font-size: 14px;
        justify-content: space-between;
    }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "aside";
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "article1"
      "article2"
      "article3"
      "article4"
      "article5"
      "article6"
      "image";
  }

  main h2 {
    font-size: 30px;
  }

  aside h5 {
    /* width: 50vw; */
    font-size: 36px;
    width: 70vw;
  }

  aside article,
  aside img {
    width: 70vw;
  }
}
