* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: url("../images/photo-1705021246536-aecfad654893.avif") no-repeat
    center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

header h1 {
  color: white;
  text-align: center;
}

header {
  background-color: rgba(129, 129, 129, 0.613);
  max-width: 60%;
  margin: 100px auto 0px auto;
  padding: 30px;
}
